#container{
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

h1, h3{
    color: #7353a2;
}

#form{
    display: flex;
    flex-direction: column;
}

input{
    margin: 2rem 0 2rem 0;
    padding: 0.5rem;
}

button{
    background: #7353a2;
    padding: 0.5rem;
    border-radius: 10px;
}